source https://api.nuget.org/v3/index.json

storage: none

nuget Microsoft.Orleans.Sdk
nuget Microsoft.Orleans.Server
nuget Microsoft.Orleans.Client

group Test
  source https://api.nuget.org/v3/index.json
  storage: none

  nuget MSTest
  nuget Microsoft.Orleans.TestingHost
